@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --red-color: #DF6951;
    --blue-color: #181E4B;
    --yellow-color: #F1A501;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Volkhov", serif;
}

body {
    background-color: #ffffff;
}

.Hero_Section {
    background-image: url(../images/Decore.png);
    background-repeat: no-repeat;
    background-position: top right;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;

}

.mynav_links li {
    padding: 0 20px;
}

.mynav_links li a {
    color: #212832;
    font-family: "Poppins", sans-serif;
}

form {
    gap: 40px;
    padding-left: 20px;
    font-family: "Poppins", sans-serif;
}

form select {
    background: transparent;
    border: none;
    color: #212832;

}

.mylogo img {
    width: 90px;
}

.img_div {
    width: 100%;
    position: relative;
}

.img_div img {
    width: 45vw;
    height: 90vh;
}


.right_plane>img {
    position: absolute;
    width: 100px;
    top: -32%;
    left: 130px;
}

.left_plane>img {
    position: absolute;
    width: 100px;
    top: -26%;
    right: -12%;
}



.content_Div h4 {
    color: var(--red-color);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;

}

.content_Div h1 {
    font-size: 64px;
    font-weight: 900;
    line-height: 66px;
}

.content_Div p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #5E6282;
}

.Decore {
    position: relative;
}

.Decore img {
    bottom: 4px;
    width: 300px;
    left: -10px;
    z-index: -1;
    position: absolute;
}

.btn_div>a {
    color: #fff;
    background: var(--yellow-color);
    padding: 12px 18px;
    text-decoration: none;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    height: fit-content;
    margin-right: 16px;
}

.div_demo img {
    width: 86px;
    margin-top: 20px;
}

.div_demo a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #5E6282;
}